* {
  margin: 0;
}
body {
  height: 100vh;
  width: 100%;
}
#canvas {
  display: block;
  background-color: hsl(317, 100%, 31%);
  background-color: rgb(26, 0, 51);
  background-color: rgb(10, 10, 10);
}
